In [1]:
# Importing libraries
# Numpy for array operations and also to do calculations
import numpy as np
# Pandas for load dataset and manipulation of tabular data
import pandas as pd
# For plotting
import seaborn as sns
import plotly.express as px
import plotly.figure_factory as ff
import matplotlib.pyplot as plt
%matplotlib inline

#from matplotlib import rcParams
#import matplotlib.gridspec as gridspec
#from IPython.core.pylabtools import figsize
#from datasist.structdata import detect_outliers

# For importing dataset from url
import urllib.request
# To interact with the underlying Operating System
import os
# For numerical computation and ML modeling phase
#import tensorflow as tf
# to manipulate date and time
#from datetime import datetime, timedelta
# Generate words cloud
#from wordcloud import WordCloud
# Import Images to notebook
#from IPython.display import Image
# For statistical analysis
from scipy import stats
# Set warnings to be ignored
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = df = pd.read_csv('cleaned_autos.csv')

In [5]:
df.head()

,seller,offerType,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,privat,Angebot,1500,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
1,privat,Angebot,3600,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
2,privat,Angebot,2200,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein
3,privat,Angebot,2000,limousine,2004,manuell,105,3_reihe,150000,12,benzin,mazda,nein
4,privat,Angebot,2799,kombi,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja

In [6]:
df.shape

(185575, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185575 entries, 0 to 185574
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   seller               185575 non-null  object
 1   offerType            185575 non-null  object
 2   price                185575 non-null  int64
 3   vehicleType          185575 non-null  object
 4   yearOfRegistration   185575 non-null  int64
 5   gearbox              185575 non-null  object
 6   powerPS              185575 non-null  int64
 7   model                185575 non-null  object
 8   kilometer            185575 non-null  int64
 9   monthOfRegistration  185575 non-null  int64
 10  fuelType             185575 non-null  object
 11  brand                185575 non-null  object
 12  notRepairedDamage    185575 non-null  object
dtypes: int64(5), object(8)
memory usage: 18.4+ MB

In [8]:
df.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration
count,185575.000000,185575.000000,185575.000000,185575.000000,185575.000000
mean,6200.991243,2004.011499,127.963341,124152.876196,6.271071
std,4795.735412,6.077993,145.953033,38625.278471,3.432309
min,1001.000000,1923.000000,0.000000,5000.000000,0.000000
25%,2400.000000,2001.000000,90.000000,100000.000000,3.000000
50%,4600.000000,2005.000000,118.000000,150000.000000,6.000000
75%,8700.000000,2008.000000,155.000000,150000.000000,9.000000
max,21243.000000,2018.000000,20000.000000,150000.000000,12.000000